.submit, .question, .tbl, .text-img {
  display: flex;
}

.submit-btn, form, .tbl table, .text-img ol {
  margin-left: auto;
  margin-right: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  background-color: rgb(255, 228, 196);
}
.menu-nav {
  width: 100%;
  display: inline-block;
}
.menu li {
  margin-left: 50px;
  display: inline-block;
  padding: 15px;
}
.menu a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.menu a:hover {
  color: rgb(0, 0, 255);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(165, 42, 42);
}

.content {
  text-align: center;
  margin: 25px;
}
.content-image {
  width: 50%;
  margin-bottom: 10px;
}

.text-img ol {
  font-size: 22px;
}

.tbl table {
  width: 50%;
  text-align: justify;
  border: 1px solid;
}
.tbl table th, .tbl table td {
  border: 1px solid;
  padding: 5px;
}

form {
  padding: 25px;
  border-radius: 15px;
  width: 50%;
  text-align: justify;
}
form:hover {
  background-color: rgb(129, 179, 179);
}

label {
  color: rgb(0, 0, 255);
}

input {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.submit-btn {
  width: 30%;
  margin-top: 5px;
  background-color: rgb(43, 190, 43);
  font-weight: bold;
  font-size: 15px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(9, 168, 70);
}

/*# sourceMappingURL=style.css.map */
