// Vi du cho modules
@use "base";

// vi du su dung bien
$colorBlue: rgb(0, 0, 255);
$colorBisque: rgb(255, 228, 196);
$font32: 32px;
// Vi du su dung extend
%displayFlex {
    display: flex;
}
%center {
    margin-left: auto;
    margin-right: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background-color: $colorBisque;
    &-nav {
        width: 100%;
        display: inline-block;
    }
    li {
        margin-left: 50px;
        display: inline-block;
        padding: 15px;
    }
    a {
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: black;
        &:hover {
            color: $colorBlue;
        }
    }
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    // vi du cho modules
    color: base.$colorBrown;
}
.content {
    text-align: center;
    margin: 25px;

    &-image {
        width: 50%;
        margin-bottom: 10px;
    }
}

.text-img {
    // vi du cho extend
    @extend %displayFlex;
    ol {
        @extend %center;
        // vi du cho modules
        font-size: base.$font22;
    }
}

.tbl {
    // vi du cho extend
    @extend %displayFlex;
    table {
        @extend %center;
        width: 50%;
        text-align: justify;
        border: 1px solid;

        th,td {
            border: 1px solid;
            padding: 5px;
        }
    }
}

.question{
    @extend %displayFlex;
}
form{
    padding: 25px;
    border-radius: 15px;
    width: 50%;
    text-align: justify;
    @extend %center;
    &:hover{
        background-color: rgb(129, 179, 179);

    }
}
label{
    color: $colorBlue;
}

input{
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.submit{
    @extend %displayFlex;
    &-btn{
        @extend %center;
        width: 30%;
        margin-top: 5px;
        background-color: rgb(43, 190, 43);
        font-weight: bold;
        font-size: base.$font15;
        &:hover{
            cursor: pointer;
            background-color: rgb(9, 168, 70);
        }
    }
}