.nav {
    height: 55px;
    line-height: 55px !important;
}

.list{
    text-align: justify; 
    list-style: decimal;
    margin-top: auto;
    margin-bottom: auto;
}
.tbl{
    text-align: justify;
    width: 40%; 
    padding: 50px;
}

.tbl>table tr, th, td{
    border: 1px solid;
    padding: 8px;
}

.center{
    margin-left: auto; 
    margin-right: auto;
}