*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    display: inline-block;
    background-color: bisque;
}

.nav>li{
    margin-left: 50px;
    display: inline-block;
    padding: 15px;
}
.nav>li>a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.nav>li>a:hover{
    color: blue;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    color: brown;
}
.content{
    text-align: center;
    margin: 25px;
}
.image{
    width: 50%;
    margin-bottom: 10px;
}

ul>li{
    list-style: none;
}

.text-img{
    padding-left: 38%;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border: 1px solid;
}
th, td{
    border: 1px solid;
    padding: 5px;
}
input{
    padding: 10px;
    margin: 5px;
}
form{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: 35%;
    padding: 15px;
}

.text{
    width: 90%;
}

label{
    color: blue;
}

.submit{
    background-color: rgb(21, 255, 0);
    width: 40%;
}

.submit:hover{
    cursor: pointer;
    background-color: rgba(21, 255, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
}

.table-bootstrap{
    width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
}